.App {
  width: 100vw;
  height: 100vh;
  background-color: #252A36;
}

body{
  margin: 0;
  padding: 0;
}

#parent2{
  display: flex;
  justify-content: left;
  width: 100vw;
}

.CanvasWrap {
  width: 100%;
  height: auto;
  /* position:relative; */
  float: right;
  background-color: #252A36;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Canvas{
  width: 90%;
  height: 90%;
  /* width: 500px;
  height: 500px; */
  border-color: white;
  border-width: 1px;
  background-color: white;
}

#GenerateBtn{
  position:absolute;
  bottom:0;
  right:0;
  background-color: #FFF9E9;
  border-color: #FFF9E9;
  color: black;
  margin: 4px;
}

.Sidebar{
  padding-left:0;
  height: 100vh;
  width: 300px;
  left:0;
  background-color: #FFF9E9;

  
}

.SidebarList{
  height: auto;
  width: 100vw;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.SidebarList .row{
  /* height: 60px; */
  width: 300px;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;

  /* border-bottom: 1px solid #929292;
  border-top: 1px solid #929292;
  border-width: 1px; */
}

/* .SidebarList #active{
  background-color: #E7E0CF;
  justify-content: start;
  display: flex;
  flex-direction: row;
} */

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #E7E0CF;
}

.TitleWrap{
  height: 60px;
  width: 300px;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: center;
}

#ExpandIcon{
  flex: 10%;
}

#icon{
  flex: 10%;
}

#title{
  flex: 65%;
}

.Content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #00ffb9;
  border-top: 1px solid #00ffb9; */
  position: relative;
}